{% extends "layout.html" %}

{% block title %}Página Inicial - Seu Novo Imóvel{% endblock %}

{% block content %}
    <section class="hero">
        <h1>Seu novo imóvel está aqui.</h1>
        <p>Conectamos você às melhores oportunidades do mercado.</p>
    </section>

    {% include 'includes/search_bar.html' %}

    <section class="destaques">
    <h2>Imóveis em Destaque</h2>
    <div class="grid-imoveis">

        {% for imovel in imoveis %}
<div class="card-imovel">
    {% if imovel.imagens %}
        {% set imagem_url = imovel.imagens[0].url_imagem %}
        <img src="{{ imagem_url if imagem_url.startswith('http') else url_for('static', filename=imagem_url) }}" alt="Foto do {{ imovel.titulo }}">
    {% else %}
        <img src="https://placehold.co/400x250/EFEFEF/333333?text=Sem+Foto" alt="Imóvel sem foto">
    {% endif %}

            <div class="card-content">
                <h3>{{ imovel.titulo }}</h3>
                <p class="preco">R$ {{ imovel.preco | humanize_price }}</p>
                <a href="{{ url_for('imovel_detalhes', imovel_id=imovel.id_imovel) }}" class="btn">Ver detalhes</a>
            </div>
        </div>
        {% endfor %}
        </div>
</section>
 <nav class="paginacao" aria-label="Navegação das páginas de resultados">
        {% if pagination and pagination.pages > 1 %}
        <ul class="pagination-list">
            <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('index', page=pagination.prev_num) }}">&laquo; Anterior</a>
            </li>

            {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                {% if page_num %}
                    {% if pagination.page == page_num %}
                        <li class="page-item active"><a class="page-link">{{ page_num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('index', page=pagination.next_num) }}">Próxima &raquo;</a>
            </li>
        </ul>
        {% endif %}
    </nav>
{% endblock %}
