{% extends "layout.html" %}

{% block title %}Login - Seu Novo Imóvel{% endblock %}

{% block content %}
<div class="voltar-link-container">
    <a href="{{ url_for('index') }}"><i class="fa-solid fa-arrow-left"></i> Voltar para a busca</a>
</div>
<div class="login-container">
    <div class="login-box">
    <h2>Acesse sua Conta</h2>
    <p>Use suas credenciais para entrar no portal.</p>
        <form method="POST" action="{{ url_for('login') }}" class="login-form">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-login">Entrar</button>
        </form>
        <p class="auth-switch">Ainda não tem uma conta? <a href="{{ url_for('registrar') }}">Cadastre-se aqui</a></p>
    </div>
</div>
{% endblock %}
